﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="apple-touch-icon" sizes="180x180" href="/Static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Static/favicon-16x16.png">
    <link rel="manifest" href="/Static/manifest.json">
    <link rel="mask-icon" href="/Static/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/Static/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-config" content="/Static/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>
<body class="@(Request.IsAuthenticated ? "logged" : "" )">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Strona główna", "Index", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Dodaj nowy post", "Create", "Posts")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <a href="/" class="banner-main">
    </a>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Updoot.js")
    @Scripts.Render("~/Scripts/Edit.js")
    @RenderSection("scripts", required: false)
</body>
</html>
