﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.postSingle {
    display: flex;
    border: 1px solid gray;
    border-radius: 8px;
    margin-bottom: 25px;
    padding: 12px;
}
.postSingle .postSingle__image img {
    max-height: 100px;
    width: auto;

}
.postSingle .postSingle__image {
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    display: flex;
}

.banner-main{
    margin-bottom: 50px;
}
.postSingle__doot {
    background-size: cover;
    width: 50px;
    height: 54px;
    cursor: pointer;
    padding-top:10px;
    padding-bottom: 10px;
}
.postSingle__up {
    background-image: url("/Static/thumbUp.png");
}
.postSingle__up.active{
    background-image: url("/Static/thumbUpActive.png");
}
.postSingle__down.active {
    background-image: url("/Static/thumbDownActive.png");
}
.postSingle__down{
    background-image: url("/Static/thumbDown.png");
}

.postSingle__rating{
    padding-left: 10px;
    padding-right: 5px;
}
footer {
    text-align: center;
}
.banner-main {
    background-image: url("/Static/banner.png");
    background-size: cover;
    margin-top: -19px;
    min-height: 300px;
    display: block;
}
.postSingle__flair {
    margin-top: 25px;
    margin-left: 6px;
    background: blue;
    font-weight: bolder;
    color: white;
    padding: 3px;
}
.postSingle__flair:empty{
    display: none;
}

.content {
    padding: 10px;
}
.content h1{
    margin-top: -3px;
}

.reply{
    margin-top: 20px;
}

.comment__block {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 20px;
    margin-top: 5px;
    background-color: #f9f9f9;
}

.CommentSingle {
    display: flex;
    border: 1px solid gray;
    padding: 4px;
    background-color: #f0f0f0;
}

.CommentSingle__doot {
    background-size: cover;
    width: 32px;
    height: 34px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

.CommentSingle__up {
    background-image: url("/Static/thumbUp.png");
}

.CommentSingle__up.active {
    background-image: url("/Static/thumbUpActive.png");
}

.CommentSingle__down.active {
    background-image: url("/Static/thumbDownActive.png");
}

.CommentSingle__down {
    background-image: url("/Static/thumbDown.png");
}

.CommentSingle__rating {
    padding-left: 10px;
    padding-right: 5px;
}
.reply textarea#Content {
    width: 100% !important;
    height: 70px;
    ;
    max-width: 100% !important;
    min-width: 300px;
}
.reply .btn.btn-default {
    text-align:right;
}

body .postSingle__doot{
    cursor: not-allowed;
}
body.logged .postSingle__doot {
    cursor: pointer;
}

body .CommentSingle__doot {
    cursor: not-allowed;
}

body.logged .CommentSingle__doot {
    cursor: pointer;
}