﻿@using Microsoft.AspNet.Identity
@{
                /**/

                ViewBag.Title = "Posty użytkownika " + ViewBag.User.UserName;
}


<h4>@ViewBag.Title</h4>
@foreach (var Post in ViewBag.Posts)
{
    <div class="row postSingle" data-id="@Post.Id">
        <div class="postSingle__rating">
            @{ var score = ((Sharver.Models.Post)Post).PostRating.Where(r => r.UserId == User.Identity.GetUserId()).FirstOrDefault();
                bool upDoot = (score is null) ? false : score.Rating;
                bool downDoot = (score is null) ? false : !score.Rating;
            }
            <div class="postSingle__up postSingle__doot @(upDoot ? "active" : "" )"></div>
            <div class="postSingle__score" data-score="@Post.Score">@Post.Score</div>
            <div class="postSingle__down postSingle__doot @(downDoot ? "active" : "" )"></div>
        </div>
        <a href="/Posts/Details/@Post.Id" class="postSingle__image">
            @if (Post.Type == 0)
            {
                <img src="/Static/text.png" alt="thumb" />

            }
            else if (Post.Type == 1)
            {
                <img src="@Post.Content" alt="thumb" />

            }
            else
            {
<img src="/Uploads/@Post.Content" />
}

        </a>
        <h2><a href="/Posts/Details/@Post.Id">@Post.Title</a></h2>
        <div class="postSingle__flairHolder"><div class="postSingle__flair">@Post.Flair</div></div>
    </div>
}