﻿@using Microsoft.AspNet.Identity
@model Sharver.Models.Comment

<div class="CommentSingle" data-id="@Model.Id">
    <div class="CommentSingle__rating">
        @{ var score = Model.CommentRating.Where(r => r.UserId == User.Identity.GetUserId()).FirstOrDefault();
            bool upDoot = (score is null) ? false : score.Rating;
            bool downDoot = (score is null) ? false : !score.Rating;

        }
        <div class="CommentSingle__up CommentSingle__doot @(upDoot ? "active" : "" )"></div>
        <div class="CommentSingle__score" data-score="@Model.Score">@Model.Score</div>
        <div class="CommentSingle__down CommentSingle__doot @(downDoot ? "active" : "" )"></div>
    </div>
    <div class="content">
        <p class="tagline">
            <a href="/Users/Posts/@Model.User.Id">@Model.User.UserName</a>
            <time datetime="@Model.Created_at">@Model.Created_at</time>
        </p>
        <div class="content">
            @foreach (var line in Model.Content.Split(new[] { "\r\n", "\r", "\n" }, StringSplitOptions.None))
            {
                <p>@line</p>
            }
        </div>
    </div>
</div>
@if (Request.IsAuthenticated)
{
<div class="reply" data-id="@Model.Id">
    @Html.Partial("_CommentReplyPartial", new ViewDataDictionary { { "post", Model.PostId }, { "parent", Model.Id } })
</div>
}