﻿@model Sharver.Models.Comment
@using Microsoft.AspNet.Identity

@using (Html.BeginForm("Create","Comments"))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.Hidden("PostId", ViewData["post"])
    @Html.Hidden("ParentId", ViewData["parent"])
    @Html.Hidden("UserId", User.Identity.GetUserId())
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class=" col-md-10">
            <input type="submit" value="Reply" class="btn btn-default" />
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
