﻿@model Sharver.Models.Comment

<div class="comment__block">
    <div class="parent">
        @Html.Partial("_CommentPartial", Model)
    </div>
    @if(Model.Children.Count > 0)
    { 
        <div>
            <div class="children" style="margin-left:15px">
                @foreach (var child in Model.Children)
                {
                    @Html.Partial("_CommentChainPartial", child)
                }
            </div>
        </div>
    }
</div>
