﻿@model Sharver.Models.PostDTO

@{
    ViewBag.Title = "Stwórz nowy post";
}

<h2>Stwórz nowy post</h2>


@using (Html.BeginForm("Create", "Posts", FormMethod.Post, new
{
    enctype = "multipart/form-data"
}))

{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Title, "Tytuł", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" style="margin-left: 12%">
        <div style="margin-bottom:7px;"><strong>Typ wpisu</strong></div>
        <div class="col-md-10">
            <label> @Html.RadioButtonFor(model => model.Type, 0, new { @checked = true }) Tekstowy</label>
        </div>
        <div class="col-md-10">
            <label> @Html.RadioButtonFor(model => model.Type, 1) Link</label>
        </div>
        <div class="col-md-10">
            <label> @Html.RadioButtonFor(model => model.Type, 2) Plik</label>
        </div>

    </div>

    <div class="form-group  textarea-group">
        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Content, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group  file-group">
        <div class="col-md-10">
            <input style="margin-left: 12%" type="file" name="ImageFile" />
        </div>

    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Flair, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Flair, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Flair, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Stwórz" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Wróc do listy", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
