﻿@model Sharver.Models.Post

@{
    ViewBag.Title = "Usuń";
}

<h3>Czy na pewno chcesz to usunąć?</h3>
<br />
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
<br />

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="text-align: center;width: 33%;">
            <input type="submit" value="Usuń" class="btn btn-default" /> <br />
            @Html.ActionLink("Wróć do listy zarządzania", "Index")
        </div>
    }
</div>
