﻿@using Microsoft.AspNet.Identity
@model Sharver.Models.Post

@{
    ViewBag.Title = @Model.Title;
}

<div class="postSingle" data-id="@Model.Id">
    <div class="postSingle__rating">
        @{ var score = Model.PostRating.Where(r => r.UserId == User.Identity.GetUserId()).FirstOrDefault();
            bool upDoot = (score is null) ? false : score.Rating;
            bool downDoot = (score is null) ? false : !score.Rating;

        }
        <div class="postSingle__up postSingle__doot @(upDoot ? "active" : "" )"></div>
        <div class="postSingle__score" data-score="@Model.Score">@Model.Score</div>
        <div class="postSingle__down postSingle__doot @(downDoot ? "active" : "" )"></div>
    </div>
    <div class="content">
        <h1>@Model.Title</h1>
        <div>
            @if (Model.Type == 2)
            {
                <img style="width:100%; height:auto;" src="/Uploads/@Model.Content" />
            }
            else if (Model.Type == 1)
            {
                <img style="width:100%; height:auto;" src="@Model.Content" />
            }
            else
            {
                foreach (var line in (Model.Content ?? "").Split(new[] { "\r\n", "\r", "\n" }, StringSplitOptions.None))
                {
                    <p>@line</p>
                }
            }
        </div>
        <p class="tagline">
            <a href="/Users/Posts/@Model.User.Id">@Model.User.UserName</a>
            <time datetime="@Model.Created_at">@Model.Created_at</time>
        </p>
    </div>
</div>
<div>

    @Html.ActionLink("Edycja", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Wróć do listy", "Index", "Home")
</div>

@if (Request.IsAuthenticated)
{
    <div class="reply">
        <div>Dodaj nowy komentarz</div>
        @Html.Partial("_CommentReplyPartial", new ViewDataDictionary { { "post", Model.Id } })
    </div>
}
else
{
    <div class="reply">
        <div>Zaloguj się lub zarejestruj, żeby dodawać komentarze</div>
    </div>
}

<h2>Komentarze(@Model.Comments.Count())</h2>
@if (!Model.Comments.Where(c => c.ParentId is null).Any())
{
    <div>Nie ma jeszcze komentarzy, może chcesz dodać pierwszy?</div>
}

@foreach (var comment in Model.Comments.Where(c => c.ParentId is null))
{
    Html.RenderPartial("_CommentChainPartial", comment);
}

